body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('team.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}

header {
    background-color: #43afe1;
    background-image: url('logo.png');
    background-size: 50px 50px; /* Set the desired size */
    background-position: left;
    background-repeat: no-repeat;
    color: white;
    padding: 1rem 2rem; /* Add padding to avoid logo overlapping text */
    text-align: center;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2 20px;
}

.site-title {
    font-family: Arial, sans-serif;
    margin: auto;
    font-size: 2rem; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 2rem 1rem 2rem 3rem;
    max-width: 800px;
    margin: auto;
    background-color: #17bd78;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.85;
}

h2 {
    color: white;
}

h3 {
    color:white;
}

p {
    color: white;
}

.team-member {
    margin-bottom: 2rem;
}

.team-member img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5rem 0 0.2rem 0;
}

form input, form textarea, form button {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #59d2cc;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #59d2cc;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.image-button {
    display: inline-block;
    background-color:#43afe1;
    background-size: cover;
    background-position: center;
    width: 100px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    text-align: center;
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from link */
    font-size: 16px; /* Text size */
    border-radius: 10px; /* Rounded corners */
    transition: transform 0.2s; /* Smooth transform transition */
    margin: auto;
}

.image-button:hover {
    transform: scale(1.05); /* Slightly enlarge button on hover */
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}